// start the footer
footer{
    background-color: $mainColor;
    width:100%;
    height: auto;
    margin-bottom: 0%;
    padding:1% 0% 1% 0%;
    h2{
       color:$maincolor3;
       font-size:22px;
       text-align: center;
    }
}
// end the footer.