$mainColor : #20355d;
$mainColor2 : #e8e8e8;
$maincolor3: rgb(230, 217, 217);
// second colors
$btncolor : #20355d;
$divred : #b92d2d;
$tableborder: #666666;
$lasttable: #cccccc;
// responsive
$desktop : 1200px; 
$tap : 995px;
$tap2: 769px;